body {
  /* background-color: rgb(240,240,240); */
  background-image: url("images/2-space-background.jpg");
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 20px;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 50px;
}

h2 {
  color: whitesmoke;
  font-size: 20px;
}

.fa-terminal {
  font-size: 20px;
  padding-right: 1%;
}

a:hover {
  color: rgba(46,103,248);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

i {
  font-size: 40px;
}

.fa-face-smile-wink {
  font-size: 18px;
  padding-left: 10px;
}

img {
  padding-top: 2.5%;
  max-width: 20%;
  height: 20%;
  border-radius: 15%;
}

.coding-image {
  text-align: center;
  background-image: url("images/coding-image.jpg") ;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.container {
  margin: auto;
  width: 95%;

}

.socials {
  border-top: 3px dashed;
  padding-top: 5%;
}

.top {
  text-align: center;
  /* background-color: aliceblue; */
  border-radius: 5%;
  padding: 0.5%;
  /* background-color: linear-gradient(
    rgba(185, 185, 185, 0.7),
    rgba(255, 255, 255, 0.7)
  ); */
  /* background: rgba( 0,0,0,0.4 ); */
  /* background-color: rgba(255, 255, 255, 0.365); */
  backdrop-filter: blur(50px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5)
}

button {
  background-color: rgb(234, 242, 225);
}

button:hover {
  color: rgba(46,103,248);
}

.button {
  box-shadow: 2px 3px grey;
  width: 60%;
  padding: 3%;
  font-size: 20px;
}

.button-outer {
  text-align: center;
}


.list-inline > li {
  display: inline-block;
  padding: 0% 2%;
  list-style: none;
}

.list-inline {
  text-align: center;
}

.socials-tagline {
  text-align: center;
  padding-left: 2%;
  padding-bottom: 2%;
}

.fa-brands {
  color: white;
}

.fa-brands:hover {
  color: rgb(47,249,36);
}

.A51 {
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
